
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.Menu_cards{
   background: linear-gradient(to bottom ,#1b130e,hsl(259, 77%, 12%)) ;
    width: 100%;
}

.menu_head{
    text-align: center;
    font-size: 55px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    text-transform: uppercase;
     padding-top: 40px;
     padding-bottom: 20px;
    color: hsl(33, 100%, 75%);

    background: linear-gradient(
    to bottom,
    #2b1d14,
    #1b130e
    );
     
}
.menu_subhead{
    color: hsl(33, 100%, 85%);

}

.menu_struct{
    display: inline-block;
   
    width: 300px;
    height: 620px;
    padding: 15px;
    border:5px solid hsl(48, 100%, 85%);
     overflow:hidden;
     background-color:cornsilk;
     box-shadow: hsl(0, 0%, 80%)  4px 3px 7px 1px;
     border-radius: 10px;
     margin:50px 1px;
     
     animation: right_slide linear;
    animation-timeline: view();
    animation-range: entry 0% cover 37%;
}
.menu_struct img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.menu_struct img:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: .4s ease-in-out;
}
.menu_content{
    
  text-transform: capitalize;
    margin-bottom: 10px;
   
}
.m_title{
    
    font-size: 23px;
    height: 70px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    text-transform: uppercase;
   margin: 10px;

}
.f_price{
    font-size: 20px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    text-transform: uppercase;
   margin: 10px;
}
.f_discount{
    text-decoration: line-through;
    color: gray;
    font-family: "Merienda", cursive;
}
.stars{
    margin: 10px;
}
.f_desc{
    font-size: 15px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    text-transform:capitalize;

   margin-top: 15px;
   margin-bottom: 25px;
   min-width: 200px;
   min-height:70px ;

}
.exp_btn{
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    cursor: pointer;
    padding:10px 20px;
   
  
    letter-spacing: 1px;
    text-transform: uppercase;

    color:rgb(0, 0, 0);
    font-size: 15px;
     background:hsl(45, 90%, 83%);

    border:3px solid hsl(45, 90%, 78%);

   margin-top: auto;
   margin-left:10px ;

    border-radius:15px;

}
.exp_btn:hover{
    transform:scale(1.05);

    box-shadow:
    0 0 45px hsl(33, 100%, 85%);
    border:5px solid hsl(48, 100%, 80%) ; 
   background-color:hsl(48, 100%, 90%);
    
     color:hsl(0, 0%, 7%);
    transition: 0.5s ease;
}

 