.hero {
  background-image: url("../../assets/images/back_g_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

 
 
}

*{
    margin: 0px;
    font-family:sans-serif;
    

}


.logo{
    background-color:aquamarine;
    padding:10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;


}
.nav-links{
   
    
}