*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    

}

body{
 background-attachment: fixed;
  min-height: 100vh;background-image: url("../src/assets/images/reserved.jpg");
  background-size: cover;
  background-position: center;
   background-attachment: fixed;
  min-height: 100vh;

 

}