*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    

}

body{
    min-height: 100vh;background-image: url("../src/assets/images/reserved.jpg");
  background-size: cover;
 background-attachment: fixed;
  background-position: center;
  min-height: 100vh; 

}